<section class="border rounded border-blue-500 p-4 mt-4 mb-4">
  <h1 class="bg-cyan-700"><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p>Peace of mind from prototype to production</p>
</section>

<section class="border rounded border-blue-500 p-4">
  <%= link "Go to Timeline", to: Routes.post_index_path(@conn, :index), class: ["bg-cyan-600 p-4 rounded hover:text-sky-400"] %>
</section>
